@font-face {
  font-family: "EuclidCicular";
  src: local("EuclidCircularA-Bold"),
    url("./fonts/EuclidCircularA-Bold.woff") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "EuclidCicularMedium";
  src: local("EuclidCircularA-Medium"),
    url("./fonts/EuclidCircularA-Medium.woff") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: #152136; */
  --lightModeBackgroundColor: #f9fafc;
  --lightModeTitleColor: #25265e;
  --lightModeSubtitleColor: #25265eb3;
  --navBarColor: rgb(255, 255, 255);
  --cardColor: #fff;
  --iconColor: #0056f3;
  --insideIconColor: rgba(37, 38, 94, 0.7);
  --commonBorder: #0556f3;
  --hoverColor: #0556f3;
  --btnColor: #fff;
  --aboutNames: #0556f3;
  --cardFontColor: #25265eb3;
  --lightModeCardSubtitleColor: #25265eb3;
  --percentCardColor: #0556f3;
  --cardBorderColor: #0556f3;
  --contactBtnColor: #0556f3;
  --socialMediaIconBorderColor: #25265e;
  background-color: var(--lightModeBackgroundColor);
}

@media (prefers-color-scheme: dark) {
  html.dark {
    --lightModeBackgroundColor: #021F34;
    --lightModeTitleColor: #fff;
    --lightModeSubtitleColor: #98c0c6;
    --iconColor: #fff;
    --insideIconColor: #e14eca;
    --navBarColor: #021F34;
    --cardColor: #01162A;
    --commonBorder: #00AAF2;
    --hoverColor: #00AAF2;
    --btnColor: #00AAF2;
    --aboutNames: #00AAF2;
    --cardFontColor: #98c0c6;
    --lightModeCardSubtitleColor: #fff;
    --percentCardColor: #00AAF2;
    --cardBorderColor: #00AAF2;
    --contactBtnColor: #00AAF2;
    --socialMediaIconBorderColor: #00AAF2;
  }
}

body {
  font-family: "EuclidCicular", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background-color: var(--lightmodebackgroundcolor);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  background: var(--navBarColor);
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.navbar__container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar__left-logo img {
  width: 110px;
}

.navbar__right {
  display: flex;
  list-style-type: none;
}
.navbar__right li btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--iconColor);
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}

/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* .bgMain {
  background: #152136;
} */

.h-650 {
  height: 650px;
}
.alignCenter {
  align-items: center;
}
.justifyConter {
  justify-content: center;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333333333333%;
}

/* header */
.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: var(--lightModeSubtitleColor);
}
.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}
.header__ul li {
  width: 50px;
  height: 50px;
  color: var(--iconColor);
  border: 2px solid var(--socialMediaIconBorderColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.header__ul li:hover {
  background: var(--socialMediaIconBorderColor);
  border: 2px solid transparent;
}

.header__ul li:first-child {
  margin-left: 0;
}
.header__section h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 57px;
  margin-bottom: 20px;
  color: var(--lightModeTitleColor);
  animation-name: fadeInUp;
}
.header__section p {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}
.btn-outline {
  border: 1px solid rgb(211, 220, 230);
  background-color: var(--btnColor);
  color: var(--iconColor);
  border-radius: 5px 5px 5px 5px;
  padding: 13px 40px;
}
.btn-outline:hover {
  color: #fff;
  background-color: #0556f3;
  border: 1px solid rgb(211, 220, 230);
}
.btn-smart {
  padding: 13px 20px;
  border-radius: 10px;
}
.play {
  font-size: 25px !important;
  padding-top: 10px;
}
.banner__img {
  padding: 0 140px;
  margin-top: 150px;
}

.header__buttons {
  justify-content: space-between;
}

/* Servives */
.services {
  padding: 30px 0;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}
.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--lightModeTitleColor);
}
.mainContent {
  font-size: 20px;
  color: var(--lightModeTitleColor);
}
.commonBorder {
  background: var(--commonBorder);
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.services__box {
  padding: 40px;
  background: var(--cardColor);
  color: var(--cardFontColor);
  box-shadow: 0px 12px 24px rgb(2 30 84 / 10%);
  margin: 20px;
  transition: all 0.5s linear;
}
.services__box:hover {
  background: var(--hoverColor);
  color: #fff;
}

.commonIcons {
  font-size: 40px;
  color: var(--hoverColor);
  margin-bottom: 15px;
}
.services__box:hover .commonIcons {
  color: #fff;
}
.services__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services__box-p {
  font-size: 14px;
  color: var(--lightModeCardSubtitleColor);
}
.about {
  height: 100vh;
  width: 100%;
  padding: 40px 0px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 600px) {
  .about {
    margin-bottom: 0px;
  }
}

.about__img {
  padding: 30px;
}
.about__img img {
  width: 400px;
  height: 400px;
}
.about__info {
  color: var(--lightModeTitleColor);
}
.about__info h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.about__info-p1 {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--lightModeSubtitleColor);
}
.about__info-p2 {
  font-size: 18px;
  color: var(--lightModeSubtitleColor);
}

.info__contacts {
  margin-top: 20px;
}
.info__contacts strong {
  color: var(--aboutNames);
}
.info__contacts p {
  margin-top: 3px;
}
.info__contacts .col-6 {
  margin: 10px 0;
}
/* Prices */
.skills {
  width: 100%;
  padding: 6px 0;
  background: var(--lightmodebackgroundcolor);
}

@media only screen and (max-width: 600px) {
  .skills {
    width: 100%;
    padding: 690px 0;
    background: var(--lightmodebackgroundColor);
  }
}

.price {
  background: var(--cardColor);
  padding: 25px;
  border-radius: 8px;
  margin: 35px 20px;
  color: var(--cardFontColor);
  text-align: center;
  border-top: 4px solid var(--cardBorderColor);
  box-shadow: 0px 12px 24px rgb(2 30 84 / 10%);
}
.priceHeading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.price__rs {
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 15px;
  color: var(--percentCardColor);
}
.price__rs span {
  font-size: 25px;
}
.price ul {
  list-style-type: none;
}
.price ul li {
  margin: 5px 0;
  border-bottom: 1px solid #3c3c3c;
  font-size: 18 px;
  padding: 15px 0;
}
.price__btn {
  margin-top: 40px;
}
.contact {
  padding: 100px 0;
  background: #152136;
}
.contactSection-logo {
  text-align: center;
  margin-bottom: 20px;
}
.contactSection-logo img {
  margin: 0 auto;
  width: 130px;
}
.contactSection p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

.contactCircles {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
}
.contactCircles li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #152136;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.contactCircles li:hover {
  background: #ff4a57;
}
.toggle {
  position: fixed;
  top: 20px;
  right: 25px;
  background: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
  .col-6 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .navbar__right {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #152136;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar__right li btn {
    cursor: pointer;
    display: block;
    padding: 20px 0;
    font-size: 14px;
  }
  .toggle {
    display: flex;
  }
  .banner__img img {
    display: none;
  }
  .header__section p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .common {
    width: 100%;
  }
  .h-650 {
    height: auto;
  }
}

/*ANIMATIONS*/

.tracking-in-contract-bck-bottom {
  -webkit-animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s ease-in both;
  animation: text-focus-in 1s ease-in both;
  font-family: EuclidCircularMedium, sans-serif;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  color: var(--insideIconColor)
}

.jello-horizontal1 {
  -webkit-animation: jello-horizontal 2s both;
  animation: jello-horizontal 2s both;
  color: var(--insideIconColor);
}

.jello-horizontal2 {
  -webkit-animation: jello-horizontal 3.1s both;
  animation: jello-horizontal 3.1s both;
  color: var(--insideIconColor);
}

.jello-horizontal3 {
  -webkit-animation: jello-horizontal 4.2s both;
  animation: jello-horizontal 4.2s both;
  color: var(--insideIconColor);
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;

  background: VAR(--LIGHTMODEBACKGROUNDCOLOR);
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: VAR(--LIGHTMODEBACKGROUNDCOLOR);
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-size: 24px;
  color: var(--lightModeSubtitleColor);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 5px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 5px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 5px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input1 {
  display: block;
  width: 100%;
  background: var(--cardColor);
  font-size: 15px;
  line-height: 1.5;
  color: #00AAF2;
  box-shadow: 0px 12px 24px rgb(2 30 84 / 10%);
  border: none;
}

.shadow-input1 {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #ff4a57;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 2px;
  background: var(--contactBtnColor);
  font-family: "Nunito";
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #ff4a57;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

#loader {
  /* Uncomment this to make it run! */
  /*
     animation: loader 5s linear infinite; 
  */
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}
#box {
  width: 50px;
  height: 50px;
  border: #c80000;
  background: #0556f3;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
#shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}

a:link {
  text-decoration: none;
}

.toggleee {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 25px;
  font-size: 150%;
}

.toggleee:before {
  content: '☀️';
}

.toggleee.active:before {
  content: '🌒';
}

.toggle.animate {
  animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes animate {
  0%   { transform: scale(1); }
  50%  { transform: scale(0); }
  100% { transform: scale(1); }
}

.wave {
  position: absolute;
  top: 35px;
  right: 40px;
  border-radius: 100%;
  width: 2px;
  height: 2px;
  display: block;
  z-index: -1;
  box-shadow: 0 0 0 0 #212121;
  transition: box-shadow .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.wave.active {
  background: #212121;
  box-shadow: 0 0 0 9999px #212121;
}
